{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pitch Master</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="top">
<div class="top-container">
    <h2>🎹 ようこそ ! Pitch Masterへ ! 🎹</h2>

    <h3>下記を選択してください。</h3>

    <!-- 新規登録 -->
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <button type="submit">新規登録</button>
    </form>

    <!-- ログイン -->
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit">ログイン</button>
    </form>

    <!-- ゲストで遊ぶ -->
    <form method="post" action="{% url 'guest_play' %}">
        {% csrf_token %}
        <button type="submit">登録せずに遊ぶ</button>
    </form>
</div>
</body>
</html>